.boxLeft{
  background: linear-gradient(rgba(50, 48, 48, 0.5), rgba(50, 48, 48, 0.5)), url("https://ik.imagekit.io/drpq5xrph/Template%20Tiffany%20&%20Jared/Desktop.jpg?updatedAt=1698223781539") center center / cover;
}
.boxRight{
  background: linear-gradient(rgb(50 48 48/ 50%), rgb(50 48 48 / 50%)),center/cover url(https://ik.imagekit.io/drpq5xrph/Template%20Tiffany%20&%20Jared/1.%20Cover.jpg?updatedAt=1698222296920);
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
.btn-open{
  font-family: 'Cormorant Garamond', serif;
  outline: 2px solid transparent;
  margin-bottom: -200px;
  font-size: 1.125rem;
  padding: 0 2.4rem !important;
  font-style: italic;
  border-radius: 0px !important;
  color: #1A1B1D !important;
  width: 118px !important;
  height: 32px !important;
  animation: MoveUpDown 3s linear infinite;
}
.btnSlide{
  align-self: center;
  background: var(--chakra-colors-bgSecondary);
  border: 1px solid rgb(26, 27, 29);
  cursor: pointer;
  height: 30px;
  line-height: 1;
  text-align: center;
  width: 70px;
  padding: 5px 10px;
}
.iconSlide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.imgCaro{
  max-width: 300px !important;
  max-height: 390px !important;
  width: 300px !important;
  height: 390px !important;
}

.textanim{
  animation-fill-mode: both;animation-duration: 1000ms;animation-delay: 0ms;animation-iteration-count: 1;opacity: 1;
}